{% extends 'layouts/base.html' %}

{% block content %}
  <h1>About</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quaerat ea facilis doloremque numquam necessitatibus ipsum dolore a, incidunt corrupti repudiandae excepturi molestiae tempore vel voluptatem! Officiis tempore expedita distinctio, nesciunt dolor quae quis, non debitis sequi quam delectus eius qui repellendus veniam repudiandae ipsum laudantium neque libero architecto dolorem facere voluptate! Accusamus fugit voluptas molestias saepe doloribus vel, reprehenderit ad delectus, fugiat, laborum quidem neque mollitia. Id temporibus perferendis, voluptates libero officia velit rem, odit eos vero nostrum quo, sit voluptas optio facilis eveniet. Voluptas nostrum aliquid eveniet quam laborum perspiciatis saepe facilis quo quasi dignissimos tempora, consectetur modi?</p>

  <p>Website created by: {{username}}</p>
{% endblock content %}
